/* BACKGROUND */
.skills-bckg{
    background: conic-gradient(from 110.67deg at 50% 50%, #101820 -49.08deg, #400966 38.12deg, #101820 166.14deg, #101820 310.92deg, #400966 398.12deg);
}
.blur-container{
    display: flex;
    width: 70%;
    max-width: 1000px;
    max-height: 290px;
    margin: 0% 1% 3% 1%;
    padding: 2%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    align-items: center;
}
.blur-container h4{
    text-align: center;
}
.blur-container:first-of-type{
    margin: 2% 1% 1% 1%;
}
.blur-container h3{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    color: var(--color-cool-gray-4-c);
}
.blur-container h4{
    margin: 0;
    font-weight: 400;
    font-size: clamp(.8em,2.5vw, 2.1em);
}
.blur-container ul{
    padding-left: .6em;
}
.blur-container li{
    font-size: clamp(.7em,1.5vw, 1.4em);
}
.skills-container-1, .skills-container-2{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0% 5%;
}
.skills-container-2{
    flex-wrap: wrap;
}
.skills-icon{
    width: .8em;
    height: auto;
}
.studies-sub{
    display: flex;
}
.studies-sub div:first-of-type{
    width: 50%;
}
.studies-sub div:last-of-type{
    width: 50%;
}
@media (max-width:767px){
    .skills-container-1{
        flex-wrap: wrap;
    }
    .skills-container-1 div, .skills-container-2 div{
        height: fit-content;
    }
}
@media (orientation: landscape){
    .blur-container h4{
        margin: 0;
        font-weight: 400;
        font-size: clamp(.7em,2vw, 2.1em);
    }
    .blur-container ul{
        margin-bottom: 0%;
    }
    .blur-container li{
        font-size: clamp(.7em,1.2vw, 1.4em);
    }
}
@media (orientation: landscape) and (max-width:700px){
    .blur-container h4{
        margin: 0;
        font-weight: 400;
        font-size: clamp(.7em,2vw, 2.1em);
    }
    .blur-container ul{
        margin-bottom: 0%;
    }
    .blur-container li{
        font-size: clamp(.6em,1vw, 1.4em);
    }
}
