#contact h1{
    font-size: clamp(4.4em,8vw, 9em);
    text-align: center;
    margin-top: 0px;
}
.contact-container{
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: end;
}
.contact-container p:first-of-type{
    margin: 0%;
}
.contactSeparate:first-of-type{
    margin-bottom: 5%;
}
.contactSeparate p:first-of-type{
    font-size: clamp(1.5em,2.5vw, 2.1em);
    font-weight: bold;
    font-style: italic;
}
.contactSeparate p{
    margin-bottom: 0px;
}
.contact-container p{
    font-size: clamp(1em,1.6vw, 1.8em);
}
.contact-container a{
    text-decoration: none;
    color: white;
}
.line-test{
    margin: 10px;
    background-image: linear-gradient(90deg, red,green,pink);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition: background-size .3s ease-in-out;
}
.line-test:hover{
    background-size: 100% 2px;
}
@media (orientation: landscape) and (max-height:500px){
    .contact-container{
        justify-content: flex-start;
    }
}