header{
    position: fixed;
    width: 70px;
    height: 100%;
    z-index: 9999;
    background-image: url(./img/nois.gif);
    transition: all .2s;
}
header::before{
    backdrop-filter: saturate(0%) blur(10px);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
header label{
    position: absolute;
}
header h1{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    word-spacing: .3em;
    writing-mode: vertical-lr;
    font-size: clamp(4.4em,6vw, 5em);
    font-weight: bolder;
    margin: 0;
}
@media (max-width: 767px) {
    header{
        width: 100%;
        height: 50px;
    }
    header h1{
        writing-mode: horizontal-tb;
        font-size: clamp(2em,6vw, 5em);
        height: 50px;
    }
    header label{
        width: 100%;
        height: 10px;
    }
    .cont-menu{
        max-width: 100% !important;
        margin: 0%;
        transform: translateY(0%) !important;
    }
    .cont-menu label{
        width: auto !important;
        height: auto !important;
        right: 5px;
        top: 10px;
        z-index: inherit !important;
    }
}


/*Menù lateral*/
#btn-menu{
    display: none;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.container-menu{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: saturate(0%) blur(10px);
    width: 100vw;
    height: 100vh;
    top: 0;left: 0;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url(./img/nois.gif);
    backdrop-filter: blur(10px);
    transition: all .3s ease;
    transform: translateX(-100%);
    opacity: 1 !important;
}
.cont-menu::before{
    backdrop-filter: saturate(180%) blur(10px);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
nav{
    margin-bottom: 10%;
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    width: auto;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fff;
    transition: all .3s ease;

    background-image: linear-gradient(90deg, rgba(159, 159, 159, 0.5),rgba(58, 58, 58, 0.5));
    background-size: 0 100%;
    background-repeat: no-repeat;
}
.cont-menu nav a:hover{
    background-size: 100% 100%;
}
.cont-menu label{
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    z-index: -1;
}