header{
    position: fixed;
    width: 70px;
    height: 100%;
    z-index: 998;
    background-image: url(./img/noise.gif);
    transition: all .2s;
}
header::before{
    backdrop-filter: saturate(0%) blur(10px);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
header label{
    position: absolute;
    width: 100%;
    height: 100%;
}
header .icon-nav{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: 0px 0px 10px 0px #000000d3;
}
.icon-nav svg{
    width: 30%;
    height: auto;
    transition: all;
}
.icon-nav svg:hover{
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
.icon-nav svg path{
    stroke: #fff;
}
@media (max-width: 767px) {
    header{
        width: 100%;
        height: 50px;
    }
    header label{
        width: 100%;
        height: 100%;
    }
    header .icon-nav{
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .icon-nav svg{
        width: auto;
        height: 30%;
    }
    .cont-menu{
        height: 50vh !important;
        max-width: 100% !important;
        margin: 0%;
        transform: translateY(-100%) !important;
    }
    .cont-menu label{
        width: auto !important;
        height: auto !important;
        right: 5px;
        top: 10px;
        z-index: inherit !important;
    }
    .cont-menu a{
        text-align: center;
    }
    #btn-menu:checked ~ .container-menu .cont-menu{
        transform: translateY(-0%) !important;
    }
}


/*Menù lateral*/
#btn-menu{
    display: none;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.container-menu{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: saturate(0%) blur(3px);
    width: 100vw;
    height: 100vh;
    top: 0;left: 0;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url(./img/noise.gif);
    backdrop-filter: blur(10px);
    transition: all .3s ease;
    transform: translateX(-100%);
    opacity: 1 !important;
}
.cont-menu::before{
    backdrop-filter: saturate(180%) blur(10px);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
nav{
    width: 100%;
}
.cont-menu nav{
    transform: translateY(0%);
}
.cont-menu nav a{
    width: auto;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fff;
    transition: all .3s ease;

    background-image: linear-gradient(90deg, rgba(159, 159, 159, 0.5),rgba(58, 58, 58, 0.5));
    background-size: 0 100%;
    background-repeat: no-repeat;
}
.cont-menu nav a:hover{
    background-size: 100% 100%;
}
.cont-menu label{
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    z-index: -1;
}
header{
    animation: header .5s ease 1s both;
}
@keyframes header {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}