/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Italianno&display=swap');

h1, h2, h3{
  margin: 0;
  font-weight: 400;
  font-family: 'Italianno', cursive;
}
h1, h2{
  font-size: clamp(4.4em,6vw, 7em);
}
h3{
  font-size: clamp(2em,4vw, 5em);
}
*{
  font-family: 'Cabin', sans-serif;
}
/* ROUTES */
:root{
  --color-storm: #035453;
  --color-tropical-green: #008786;
  --color-water-ballet: #9FDFE4;
  --color-hushed-green: #D8E9E5;
  --color-lucent-white: #F3F4F4;
  --color-cool-gray-4-c: #BBBCBC;
  --color-gadget-gray: #454A4C;
  --color-black-6-c: #101820;
  --color-purple: #560E87;
  --color-gradient: linear-gradient(90deg, #035453, #560E87);
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  color: white;
  overflow: hidden;
  background-color: #101820;
}
*::-webkit-scrollbar {
  width: 3px;
  display: none;
}
.containter-main{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.component-section{
  width: calc(100vw - 70px);
  height: 100vh;
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-margin-left: 70px;
}
/* BACKGROUND */
.bckg-fade{
  position: absolute;
  width: calc(100vw - 60px);
  height: 100vh;
  z-index: -1;
  background: linear-gradient(90deg, rgba(16,24,32,1) 1%, rgba(16,24,32,0.23783280402004547) 15%, rgba(16,24,32,0.06696445668110995) 85%, rgba(16,24,32,1) 99%);
}
/* MEDIA QUERYS */
@media (min-width: 768px) {
  .component-section{
    width: calc(100vw - 60px);
    scroll-margin-left: 60px;
  }
}
@media (max-width: 767px) {
  body{
    overflow: visible;
    overflow-x: hidden;
  }
  .containter-main{
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .component-section{
    width: 100vw;
    scroll-margin-left: 0px;
    scroll-margin-top: 40px;
  }
  .bckg-fade{
    width: 100vw;
    background: linear-gradient(0deg, rgba(16,24,32,1) 1%, rgba(16,24,32,0.23783280402004547) 10%, rgba(16,24,32,0.06696445668110995) 90%, rgba(16,24,32,1) 99%);
  }
}
@media (orientation: landscape) and (max-height:500px){
  .component-section{
    width: 100vw;
    height: fit-content;
    margin-top: 4%;
    scroll-margin-left: 0px;
    scroll-margin-top: 40px;
  }
  .bckg-fade{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(16,24,32,1) 1%, rgba(16,24,32,0.23783280402004547) 10%, rgba(16,24,32,0.06696445668110995) 90%, rgba(16,24,32,1) 99%);
  }
}
@media (orientation: landscape) and (max-height: 499px){
  .component-section{
    width: 100%;
    height: 100vh;
    margin: 0%;
    scroll-margin-left: 0px;
    scroll-margin-top: 0px;
  }
  .bckg-fade{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(16,24,32,1) 1%, rgba(16,24,32,0.23783280402004547) 10%, rgba(16,24,32,0.06696445668110995) 90%, rgba(16,24,32,1) 99%);
  }
}